<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <div th:replace="/layout/header.html :: fragment-header"></div>
        <link th:href="@{/css/boardList.css}" rel="stylesheet">
        <div th:replace="/layout/navbar.html :: fragment-nav"></div>
    </head>

</head>
<body style="background: #EBEEF1">
<div class="row py-5">
    <div class="col-12 ">
        <h1 style="text-align: center;">
            로고
        </h1>
    </div>
</div>
<div class="container overflow-hidden" >

    <div class="row px-5 gy-5">
        <div class="col-4">
            <div class="p-3 border bg-white py-4" style="height: 40rem;">

                <!-- 아이콘, 사용자 닉네임 -->
                <div class="row">
                    <div class="col-3  mb-5">
                        <img th:src="@{/img/gitHub.png}" class="img-thumbnail" alt="...">
                    </div>
                    <div class="col mb-5">
                        사용자이름
                    </div>
                </div>

                <!-- 내가 쓴 글, 내 댓글, 내 정보 -->
                <div class="row mb-3">
                    <div class="col">
                        <input class="btn btn-outline-primary  btn-block" style=" width: 6rem; height: 3rem "  type="button" onclick="" value="내가 쓴 글"/>
                    </div>
                    <div class="col">
                        <input class="btn btn-outline-primary btn-block" style=" width: 6rem;  height: 3rem" type="button" onclick="" value="내 댓글"/>
                    </div>
                    <div class="col">
                        <input class="btn btn-outline-primary  btn-block" style=" width: 6rem;  height: 3rem" type="button" onclick="" value="내 정보"/>
                    </div>
                </div>
                <hr class="mb-2">
                <div class="sidebar-menu">
                    <ul>
                        <li><a href="#">메뉴1</a></li>
                        <ul class="ml-2 ">
                            <li><a href="#">메뉴1-1</a></li>
                            <li><a href="#">메뉴1-2</a></li>
                            <li><a href="#">메뉴1-3</a></li>
                        </ul>
                    </ul>
                    <hr class="mb-2">
                    <ul>
                        <li><a href="#">메뉴2</a></li>
                        <ul class="ml-2 ">
                            <li><a href="#">메뉴2-1</a></li>
                            <li><a href="#">메뉴2-2</a></li>
                            <li><a href="#">메뉴2-3</a></li>
                        </ul>
                    </ul>
                    <hr class="mb-2">
                    <ul>
                        <li><a href="#">메뉴3</a></li>
                        <ul class="ml-2 ">
                            <li><a href="#">메뉴3-1</a></li>
                            <li><a href="#">메뉴3-2</a></li>
                            <li><a href="#">메뉴3-3</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="p-3 border bg-white" style="height: 40rem;">
                <h1>유저메뉴부분</h1>
            </div>
        </div>

    </div>
</div>
<div th:replace="/layout/footer.html :: fragment-footer"></div>
<div th:replace="/layout/config.html :: fragment-config"></div>
</body>
</html>