<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
    <link th:href="@{/css/boardList.css}" rel="stylesheet">
    <div th:replace="/layout/config.html :: fragment-config"></div>
</head>

<body>
<div th:replace="/layout/navbar.html :: fragment-nav"></div>
<br>

<!-- 로고 나중에 fragment 로 나누어야 함 -->
<h1 style="text-align: center; font-size: 50px;">
    로고2
</h1>
<br>

<body>
<div class="container" >
    <form>
        <div class="form-group">


            <input id="form-title" name="title" type="text" class="form-control" placeholder="제목을 입력해주세요...">
        </div>
        <br />
        <div class="form-group">
            <textarea id="form-content" name="content" class="form-control summernote" rows="5">
            </textarea>
        </div>
        <br>
            <button id="btn-save-form" type="button" class="btn btn-primary float-right btn-lg" >등록</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('.summernote').summernote({
            placeholder: '내용을 입력해주세요',
            tabsize: 2,
            height: 400,
        })

    });
</script>
</body>

<script src="/js/boardSaveForm.js"></script>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>
</body>
</html>