<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
<div th:replace="/layout/header.html :: fragment-header"></div>
<div th:replace="/layout/navbar.html :: fragment-nav"></div>

    <table>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
        </tr>
        <tr th:each="boardList :${boardList}">
            <td th:text="${boardList.id}"></td>
            <td th:text="${boardList.title}"></td>
            <td th:text="${boardList.content}"></td>
            <td th:text="${boardList.author}"></td>
            <td th:text="${boardList.createDate}"></td>

        </tr>
    </table>


<div th:replace="/layout/footer.html :: fragment-footer"></div>
<div th:replace="/layout/config.html :: fragment-config"></div>
</body>
</html>