<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
    <link th:href="@{/css/boardList.css}" rel="stylesheet">
</head>

<body>
<div th:replace="/layout/navbar.html :: fragment-nav"></div>

<!-- 로고 나중에 fragment 로 나누어야 함 -->
    <h1 style="text-align: center; font-size: 50px;">
        로고2
    </h1>
<!-- 로고 END -->


<div class="container">
<!-- 글쓰기 ,검색메뉴 Start -->
    <div class="card m-5 " >
        <div class="card-body">
            <div class="col text-center">
                <input type="text" placeholder="검색어를 입력해주세요..." style="flex-grow: 1; width: 40% ; height: auto" >
                <button class="btn btn-secondary ">검색</button>
                <a th:href="@{|/board/boardSave|}"
                   sec:authorize="isAuthenticated()">
                    <button class="btn btn-light"}>글쓰기</button>
                </a>
                    <button type="button" class="btn btn-danger" id="btn-delete" sec:authorize="hasRole('ROLE_ADMIN')">모든 글 삭제</button>
            </div>
        </div>
    </div>
<!-- 글쓰기 ,검색메뉴 END -->

<!-- 글 목록Start -->
    <div class="card m-5"  th:each="board : ${boardList}">
        <div class="card-header">
            <div class="board-title">
                <!-- 제목 -->
            </div>
            <div>
                <h4 class="mb-2 text-muted" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}">게시글 작성일</h4>
            </div>
        </div>
        <div class="card-body">
            <strong>
                <a th:href="@{|/board/boardDetail/${board.id}|}">
                    <h2 class="card-title" th:text="${board.getTitle()}" style="font-size: 20px;">
                        게시글 제목
                    </h2>
                </a>
            </strong>
            <br />
                <p class="card-text" th:text="${board.getContent()}">
                    게시글 내용
                </p>
            <!-- 댓글 Start-->
            <span class="text-danger small ms-1" th:if="${#lists.size(board.replyList) > 0}"
                  th:text="|${#lists.size(board.replyList)}개의 댓글이 있습니다|">>
            </span>
            <!-- 댓글 END-->
        </div>


</div>
    <div class="pagination justify-content-center">
        <th:block  th:each="page : ${#numbers.sequence(startPage, endPage)}" >
            <a th:if="${page != currentPage}" th:href="@{/board/boardList(page = ${page - 1})}" th:text="${page}" X></a>
            <strong th:if="${page == currentPage}"th:text="${page}" style="color: red"></strong>
        </th:block>
    </div>

<!-- TODO : 오른쪽 Div 부분 기능추가-->
</div>

<div th:replace="/layout/footer.html :: fragment-footer"></div>
<div th:replace="/layout/config.html :: fragment-config"></div>
<script src="/js/boardMain.js"></script>

</body>

</html>