<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/userJoin.css}" rel="stylesheet">
</head>

<body class="text-center" style="background-color: #FAFAFA">
<div class="container">
    <section class="py-4">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div style="max-width:420px;">
                    <form class="bg-white border-bottom-0 border py-4 px-5">
                        <div class="text-center mb-3">
                            <i  class="fab fa-bootstrap fa-5x text-secondary mb-1">
                                <a th:href="@{/}"><img th:src="@{/img/FIFA_LOGO.png}" class="rounded mx-auto d-block"/></a>
                            </i>
                            <p class="text-muted fw-bold mt-2">
                                피파온라인4 이적시장,거래내역,전적검색을 보려면 가입하세요.
                            </p>
                        </div>
                        <p class="my-3 text-center or">
                            가입
                        </p>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" placeholder="Email" required="" type="email" /><label>Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="nickname" placeholder="ID" required="" type="text" /><label>Nickname</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" placeholder="Password" required="" type="password" /><label>Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="confirmPassword" placeholder="password confirm" required="" type="password" /><label>password confirm</label>
                        </div>
                    </form>
                    <div class="bg-white border border-top-0 py-4 px-5" >
                        <div class="mb-3">
                            <button id="btn-join" class="btn btn-primary fw-bold w-100 bg-gradient">회원가입</button>
                        </div>
                        <div class="mb-2 form-group row ">
                            <div class="col-6 kakao">
                                <a href="#"><img th:src="@{/img/kakao_button.png}" style="max-width: 100%; height: auto;" class="rounded mx-auto d-block" ></a>
                            </div>
                            <div class="col-6 google">
                                <a  href="#"><img th:src="@{/img/google_login.png}" style="max-width: 100%; height: auto; border: black" class="rounded mx-auto d-block" ></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white py-4 px-5 text-center border mt-4 mb-2">
                        <p class="m-0">
                            이미 회원이신가요? &nbsp<a href="/user/login" style="color: #5383E8">로그인</a>
                        </p>
                    </div>
                    <div class="small text-center ">
                        <a href="https://developers.nexon.com/fifaonline4"><p class="mb-1">Data based on NEXON DEVELOPERS</p></a>
                        <a href="https://github.com/als904204" target = "_blank"><img th:src="@{/img/gitHub.png}" alt="githubLOGO" class="rounded mx-auto d-block" ></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div th:replace="/layout/config.html :: fragment-config"></div>
<script src="/js/communityUser.js/"></script>
</body>

</html>