<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body style="background: #5383E8;">

    <div th:replace="/layout/header.html :: fragment-header"></div>
    <div th:replace="/layout/navbar.html :: fragment-nav"></div>
    <!-- Main start-->
    <h1 style="text-align: center; font-size: 50px; color: white">
        로고
    </h1>
    <div class="container" style="margin-top: 150px;">
        <br/>


            <div class="mx-auto" style="width:350px;">
                <div class="input-group">
                    <input type="text" class="form-control" id="nickname" placeholder="구단주명..." style="margin-right: 10px;">
                    <button class="btn btn-primary" type="button" id="btn-user-info">검색</button>
                </div>
            </div>



    </div>
    <div class="jumbotron text-center"  style="margin-top: 5%;" >
        대충 피파 유튜브
    </div>

    <div class="jumbotron text-center"  style="margin-top: 5%;" >
        인기 게시글
    </div>


    <div class="jumbotron text-center"  style="margin-top: 5%;" >
        <a href="/test">테스트 페이지</a>
    </div>

    <br/>
    <hr />
    <!-- Main end-->



    <div th:replace="/layout/footer.html :: fragment-footer"></div>
    <div th:replace="/layout/config.html :: fragment-config"></div>
</body>


<script src="/js/main.js"></script>
<script src="/js/user-info.js"></script>




</html>